html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
.central{
  width: 100%;
  padding: 0px 5px 0px 5px;
}
.left{
  width: 50%;
  float: left;
  padding: 0px 5px 0px 5px;
}
.right{
  width: 50%;
  float: right;
  padding: 0px 5px 0px 5px;
}