html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
.central{
  width: 100%;
  clear: both;
  padding: 5p;
}
.left{
  width: 50%;
  float: left;
  padding: 5px;
}
.right{
  width: 50%;
  float: right;
  padding: 5px;
}
.userField{
  border: 1px solid white;
}
.userField:hover{
  /*border: 1px solid black;*/
  cursor: pointer;
}
.userField{
  padding-left: 5px;
}